USE [master]
GO
/****** Object:  Database [WHEELISTER]    Script Date: 03/05/2025 8:28:59 am ******/
CREATE DATABASE [WHEELISTER]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'WHEELISTER', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL12.SQLEXPRESS1\MSSQL\DATA\WHEELISTER.mdf' , SIZE = 3264KB , MAXSIZE = UNLIMITED, FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'WHEELISTER_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL12.SQLEXPRESS1\MSSQL\DATA\WHEELISTER_log.ldf' , SIZE = 832KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [WHEELISTER].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [WHEELISTER]
GO
/****** Object:  Table [dbo].[admins]    Script Date: 03/05/2025 8:28:59 am ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[admins](
	[adminID] [int] IDENTITY(1,1) NOT NULL,
	[admin_name] [varchar](20) NULL,
	[warehouse_no] [int] NULL,
	[phone_number] [varchar](14) NULL,
	[email_address] [varchar](25) NULL,
PRIMARY KEY CLUSTERED 
(
	[adminID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[bookings]    Script Date: 03/05/2025 8:28:59 am ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[bookings](
	[userID] [int] NULL,
	[warehouse_no] [int] NULL,
	[bookingID] [int] IDENTITY(1,1) NOT NULL,
	[pickup_date] [date] NOT NULL,
	[return_date] [date] NOT NULL,
	[rental_period] [varchar](50) NOT NULL,
	[pickup_location] [varchar](255) NOT NULL,
	[booking_price] [decimal](10, 2) NOT NULL,
	[booking_timestamp] [datetime] NULL,
	[booking_status] [varchar](50) NULL,
PRIMARY KEY CLUSTERED 
(
	[bookingID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[cars]    Script Date: 03/05/2025 8:28:59 am ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[cars](
	[car_no] [int] NOT NULL,
	[warehouse_no] [int] NULL,
	[car_name] [varchar](20) NULL,
	[car_miles] [int] NULL,
	[car_booking_price] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[car_no] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[users]    Script Date: 03/05/2025 8:28:59 am ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[users](
	[userID] [int] IDENTITY(1,1) NOT NULL,
	[username] [varchar](40) NULL,
	[email] [varchar](30) NULL,
	[mobilenumber] [varchar](20) NULL,
	[location] [varchar](50) NULL,
	[loyaltypoints] [int] NULL CONSTRAINT [DF_ColumnName_DefaultZero]  DEFAULT ((0)),
	[password] [varchar](255) NULL,
PRIMARY KEY CLUSTERED 
(
	[userID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[warehouse]    Script Date: 03/05/2025 8:28:59 am ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[warehouse](
	[warehouse_no] [int] IDENTITY(1,1) NOT NULL,
	[warehouse_name] [varchar](20) NULL,
	[address] [varchar](max) NULL,
	[phonenumber] [varchar](max) NULL,
PRIMARY KEY CLUSTERED 
(
	[warehouse_no] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
ALTER TABLE [dbo].[bookings] ADD  DEFAULT (getdate()) FOR [booking_timestamp]
GO
ALTER TABLE [dbo].[bookings] ADD  DEFAULT ('Pending') FOR [booking_status]
GO
ALTER TABLE [dbo].[admins]  WITH CHECK ADD FOREIGN KEY([warehouse_no])
REFERENCES [dbo].[warehouse] ([warehouse_no])
GO
ALTER TABLE [dbo].[bookings]  WITH CHECK ADD FOREIGN KEY([userID])
REFERENCES [dbo].[users] ([userID])
GO
ALTER TABLE [dbo].[bookings]  WITH CHECK ADD FOREIGN KEY([warehouse_no])
REFERENCES [dbo].[warehouse] ([warehouse_no])
GO
ALTER TABLE [dbo].[cars]  WITH CHECK ADD FOREIGN KEY([warehouse_no])
REFERENCES [dbo].[warehouse] ([warehouse_no])
GO
/****** Object:  StoredProcedure [dbo].[CheckUserLogin]    Script Date: 03/05/2025 8:28:59 am ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[CheckUserLogin]
    @Username NVARCHAR(100),
    @Password NVARCHAR(100)
AS
BEGIN
    SET NOCOUNT ON;

    -- Check if the user exists and matches the password
    SELECT * FROM Users WHERE Username = @Username AND Password = @Password;
END;

GO
/****** Object:  StoredProcedure [dbo].[RegisterUser]    Script Date: 03/05/2025 8:28:59 am ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[RegisterUser]
    @Username NVARCHAR(50),
    @Password NVARCHAR(255)
AS
BEGIN
    SET NOCOUNT ON;

    -- Insert user into the database
    INSERT INTO dbo.users (username, password)
    VALUES (@Username, @Password);
END;

GO
/****** Object:  StoredProcedure [dbo].[UpdateUserInfo]    Script Date: 03/05/2025 8:28:59 am ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[UpdateUserInfo]
    @username NVARCHAR(100),
    @email NVARCHAR(100),
    @mobilenumber NVARCHAR(20),
    @location NVARCHAR(100)
AS
BEGIN
    SET NOCOUNT ON;

    UPDATE users 
    SET 
        email = @email,
        mobilenumber = @mobilenumber,
        location = @location
    WHERE username = @username;

    -- Optional: Return the number of rows affected
    SELECT @@ROWCOUNT AS RowsAffected;
END

GO
USE [master]
GO
